<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="pokemon01-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Web component del dataprovider [[prop1]]!</h2>

    <iron-ajax
      id="pokemonArray"
      url="https://pokeapi.co/api/v2/pokemon/"
      content-type="application/json"
      handle-as="json"
      last-response="[[pokemonArray]]"
      last-error="[[errorArray]]"></iron-ajax>

      <div class="ShowArray">
        <span>Arreglo: </span> [[pokemonArray]]
      </div>

      <template is="dom-repeat" id="pokemonUser" items="[[pokemonArray]]">
        <span>Nombre</span>{{item.name}}
        <span>Descripcion</span>{{item.url}}
      </template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Pokemon01App extends Polymer.Element {
      static get is() { return 'pokemon01-app'; }
      static get properties() {
        return {

          pokemonArray: {
            type: Array,
            notify: true
          },

          errorArray: {
            type: Object,
            notify: true
          }

        };
      }

    }
    console.log('Se ejecuta dataprovider');
    window.customElements.define(Pokemon01App.is, Pokemon01App);
  </script>
</dom-module>
