<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="poke01-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Web Component de la vista [[prop1]]!</h2>

    <template is="dom-repeat" id="accountsUser" items="{{pokemon}}">
      <tr>
        <td scope="row">{{item.name}}</td>
      </tr>
    </template>

    <iron-ajax
      id="doinit"
      url="https://pokeapi.co/api/v2/pokemon/"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Poke01App extends Polymer.Element {
      static get is() { return 'poke01-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'poke01-app'
          }
        };
      }
    }
    console.log('Se ejecuta view');
    window.customElements.define(Poke01App.is, Poke01App);
  </script>
</dom-module>
