<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/dataprovider01-app/pokemon01-app.html">

<dom-module id="pokemons01-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Web component del datamanger [[prop1]]!</h2>

    


    <!--
    <pokemons01-app id="pokemonArreglo" pokemons="[[pokemonArray]]" error="[[errorArray]]"></pokemons01-app>
  -->





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Pokemons01App extends Polymer.Element {
      static get is() { return 'pokemons01-app'; }
      static get properties() {
        return {

          pokemonArray: {
            type: Array,
            notify: true
          },

          prop1: {
            type: String,
            value: 'pokemons01-app'
          }


        };
      }
    }
    console.log('Se ejecuta datamanager');
    window.customElements.define(Pokemons01App.is, Pokemons01App);
  </script>
</dom-module>
